a {
  font-size: 1.8rem;
  font-family: "NotoSansGeorgian-Regular";
  font-weight: 700;
  cursor: pointer;
}
a:hover {
  font-weight: 300;
}

li {
  font-size: 1.8rem;
  font-family: "NotoSansGeorgian-Regular";
  padding-bottom: 2rem;
}
.info-sent-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
