<section class="container about flex-column section-first">
  <h1 class="pb-5">{{ "ABOUTUS.ABOUTUS" | translate }}</h1>
  <div class="content">
    <p>
      GA LEGAL GEORGIA არის იურიდიული კომპანია, რომელიც გთავაზობთ სრულ იურიდიულ
      მომსახურებას. რაც გულისხმობს: საადვოკატო მომსახურებას ყველა ინსტანციის
      სასამართლოში სისხლის, სამოქალაქო და ადმინისტრაციულ საქმეებზე,
      წარმომადგენლობას სახელმწიფო ორგანოებთან და კერძო პირებთან, სამართლებრივი
      დოკუმენტების მომზადებას, აუთსორსინგულ მომსახურებას ბიზნესისათვის.
    </p>
    <p>
      ჩვენი კომპანია პიონერია იურიდიულ სფეროში ციფრული ტექნოლოგიების დანერგვაში.
      მიგვაჩნია, რომ პროცესების ავტომატიზაცია ხელს შეუწყობს იურიდული სერვისების
      ხელმისაწვდომობას და მომხმარებელს გაუმარტივებს საქმიანობას
    </p>
    <p>
      ასევე, ჩვენ ვმუშაობთ პრაქტიკოსი იურისტებისა და ადვოკატებისათვის პროფესიული
      პლატფორმის შექმნაზე, რომელიც ერთი მხრივ გაუმარტივებს მათ რუტინული სამუშაოს
      შესრულებას, მეორე მხრივ კი მომხმარებელს გაუმარტივებს მიიღოს ხარისხიანი
      იურიდიული მომსახურება.
    </p>
    <p>
      ბევრ სხვა სფეროს შორის, ჩვენი მრავალფეროვანი და წარმატებული ექსპერტების
      სიძლიერე პირველ რიგში ფოკუსირებულია შემდეგ სექტორებზე:
    </p>
    <p>
      საბანკო საქმე და ფინანსები; კაპიტალის ბაზარი; არბიტრაჟი და სასამართლო
      დავები; შრომა და დასაქმება; ინფრასტრუქტურა და პროექტის დაფინანსება;
      ენერგეტიკის სამართალი; უძრავი ქონება; საგადასახადო და საბაჟო; საინვესტიციო
      სამართალი; საკორპორაციო სამართალი; კრიპტოვალუტა და ბლოკჩეინი.
    </p>
  </div>
</section>
<section class="yellow-bc">
  <div class="container about flex-column section-two">
    <h1 class="pb-3 contactus">დაგვიკავშირდი</h1>

    <div class="grid-container contact-info">
      <div class="grid-item">
        <app-button>დაჯავშნე კონსულტაცია</app-button>
      </div>
      <div class="grid-item">
        <div class="mobile flex-column">
          <p class="contact-us">დაგვირეკე:</p>
          <p class="number">+995 595 49 01 03</p>
        </div>
      </div>
    </div>
  </div>
</section>
