<footer class="footer-background">
  <div class="container-custom grid grid--footer">
    <div class="logo-col">
      <div class="flex-start">
        <img class="main-logo" src="../../assets/logo.png" alt="" />
        <div class="name">
          <a>GA LEGAL</a>
          <a>GEORGIA</a>
        </div>
      </div>
      <p class="footer-info">
        საადვოკატო ბიურო GA LEGAL GEORGIA-ს იურისტები გაგიწევენ მაღალკვალიფიციურ
        და ხარისხიან იურიდიულ მომსახურებს
      </p>
      <p class="copyright">
        Copyright &copy; <span class="year">2027</span> by Omnifood, Inc. All
        rights reserved.
      </p>
    </div>
    <nav class="nav-col">
      <p class="footer-heading">ნავიგაცია</p>
      <ul class="footer-nav">
        <li><a class="footer-link" href="#">ჩვენს შესახებ</a></li>
        <li><a class="footer-link" href="#">პრაქტიკის სფერო</a></li>
        <li><a class="footer-link" href="#">კონტაქტი</a></li>
      </ul>
    </nav>
    <nav class="nav-col">
      <p class="footer-heading">დაგვიკავშირდით</p>
      <ul class="footer-nav">
        <li><a class="footer-link" href="#">ტელ: +995 595 595 555</a></li>
        <li>
          <a class="footer-link" href="#">იმეილი: galegalgeorgia@gmail.com</a>
        </li>
        <li>
          <a class="footer-link" href="#"
            >მისამართი: ქ. თბილისი, დადიანის ქ. N323</a
          >
        </li>
      </ul>
    </nav>
    <nav class="nav-col">
      <p class="footer-heading">გამოგვყევი</p>
      <div class="flex-start">
        <ul class="main-nav-list no-padding nav-icons">
          <li>
            <div class="icons">
              <a class="social-media-icon">
                <img
                  class="icon"
                  src="../../../assets/logo-facebook.svg"
                  alt=""
                />
              </a>
            </div>
          </li>
          <li>
            <div class="icons">
              <a class="social-media-icon">
                <img
                  class="icon"
                  id="icon"
                  src="../../../assets/logo-instagram.svg"
                  alt=""
                />
              </a>
            </div>
          </li>
          <li>
            <div class="icons">
              <a class="social-media-icon">
                <img
                  class="icon"
                  src="../../../assets/logo-linkedin.svg"
                  alt=""
                />
              </a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</footer>
